.header[b-9wt5p9l9jb] {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background-color: var(--blue-100);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.45);
}


.main[b-9wt5p9l9jb] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.content[b-9wt5p9l9jb] {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-icon[b-9wt5p9l9jb] {
    width: 45px;
    height: 45px;
    background-color: var(--gray-10);
    border-radius: 6px;
    display: flex;
    padding: 7px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.container-main[b-9wt5p9l9jb] {
    flex: 1;
    padding: 40px;
    background-color: var(--gray-20);
}

button[b-9wt5p9l9jb] {
    all: unset;
}

.button-drop[b-9wt5p9l9jb] {
    margin-right: 10px;
}

.button-icon[b-9wt5p9l9jb] {
    background-color: white;
    padding: 10px;
}

.menu-slider-icon-container[b-9wt5p9l9jb] {
    width: 100%;
    height: 88px;
    display: flex;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 0 6px 0 rgba(0,0,0,0.45);
}

.menu-slider-relative[b-9wt5p9l9jb] {
    width: 80px;
    height: 100%;
    background-color: var(--gray-10);
}

.menu-slider-absolute[b-9wt5p9l9jb] {
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    background-color: var(--gray-10);
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 0 6px 0 rgba(0,0,0,0.10);
}

.menu-slider-absolute-active[b-9wt5p9l9jb] {
    right: -120px;
}

.menu-slider-menu-link-container[b-9wt5p9l9jb] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.menu-slider-icon[b-9wt5p9l9jb] {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.menu-slider-menu-link[b-9wt5p9l9jb] {
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu-link[b-9wt5p9l9jb] {
    text-decoration: none;
    color: var(--gray-90);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.menu-icon[b-9wt5p9l9jb] {
    margin-left: 5px;
    width: 30px;
    height: 30px;
}


.header-menu[b-9wt5p9l9jb] {
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--gray-10);
}

.header-menu-item[b-9wt5p9l9jb] {
    text-decoration: none;
    margin: 15px;
    color: var(--gray-90);
    font-size: 18px;
    font-weight: 500;
}

.header-menu-salir[b-9wt5p9l9jb] {
    text-decoration: none;
    background-color: var(--red-20);
    padding: 15px;
    cursor: pointer;
    color: var(--red-90);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.dropdown-menu[b-9wt5p9l9jb]{
    padding: 0 !important;
}
